body { background-color: #0d1117 ; color: #c9d1d9; font-family: "Segoe UI", sans-serif; }
a { color: #58A6FF; }
tr { background-color: #161b22 ; }
/* .codehilite {width: max-content; padding-right: 50px; border-radius: 5px;} */